<% include partials/header%>
<div class="container">
<div class="jumbotron">
<form action="/delete" method=POST>
<h1 class="display-1">DELETING A ITEM </h1>
<div class="form-group" >
<input type="text" name="item" class="form-control" placeholder="ITEMNAME">
</div>
<div class="form-group" >
<button class="btn btn-info btn-lg" >SUBMIT</button>
</div>
</form>
</div>
</div>
<% include partials/footer%>